/* Add css rules here for your application. */

body {
  bacground-color: blue;
}

/* stock list header row */
.pageTitle {
	color: #FFFFFF;
	padding: 3px;
	font-size: 14px;
	font-style: gros;
	font-family: sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	background-color: cornflowerblue;
}

.sectionTitle {
	color: black;
	padding: 5px;
	font-size: 14px;
	font-style: bold;
	text-align: center;
	background-color: gainsboro;
}

.header {
	color: Blue;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	font-style: gros;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	background-color: linen;
}

.sideBar {
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
	margin: 2px 2px 10px;
	padding-bottom: 5px;
	border: 1px solid royalblue;
	background-color: #F9F9F9;
}

.subSection {
	border: 1px solid lightskyblue;
	background-color: White;	
}

.btnHideMenu {
	color: darkblue;
	padding: 1px;
	border-bottom: 1px ridge Silver;
	font-size: 11px;
	font-family: Tahoma;
	letter-spacing: 1px;
	background-color: lightcyan;
}

.paneMain {
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
	margin: 2px;
	border: 1px solid royalblue;
	background-color: whitesmoke;
}

.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  background-color:  #ffffff;
}

.FlexTable-Cell {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}

.FlexTable-Cell-Divider {    
  height: 5px; 
  border-width: 5px 0px 0px 0px;
  border-style: solid;
  border-color: red;
  margin-top: 5px; 
}

.FlexTable-Cell-Total {    
  height: 10px; 
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: bigger;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}

.northPane {
	position: absolute;
	top: 5px;
	left: 5px;
}

.westPane {
	position: absolute;
	top: 50px;
	left: 5px;
}

.centerPane {
	position: relative;
	width: 100%;
}

.southPane {
	position: relative;
	width: 100px;
}
.sis_textbox {
	width: 300px;
}
.hiddenText {
	color: white;
}
.left_header {
	color: cornflowerblue;
	padding: 3px 0px;
	margin-left:-20px;
	font-size: 14px;
	font-family: sans-serif;
	background-color: cornflowerblue;	
}
.step {
	color: blue;
	padding: 2px;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
}
.fieldTitle {
	color: navy;
	padding: 1px;
}
.sis-TextArea {
	border: 0px;
	font-size: 12px;
	font-family: Tahoma;
}
.subjectLine {
	border-top: 1px solid silver;
	font-weight: bold;
	background-color: whitesmoke;
	margin-top: 10px;
}
.brancheLine {	
	padding: 2px;
	width: 30px;
	border-top: 1px solid silver;
}
.spaceCell{
	height: 10px;
}
.gradeColumn {
	background-color: ivory;
}
.bulletinHeader{
	font-size: 14px;
	font-family: sans-serif;
	background-color: palegoldenrod;
}

.averageGrade {
	height:20px;
	color: mediumblue;
	font-size: 14px;
	font-family: sans-serif;
	vertical-align: middle;
	text-align: center;
	background-color: azure;
}

.progressBar {
	
}

.currentPage {
	padding: 5px;
	background-color: palegoldenrod;
}

.bulletinTitle {
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
}

.bulletin {
	background-color: white;	
	font-size: 12px;
	font-family: sans-serif;
	width:100%;
}

.bulletinNote {
	padding: 5px;
	border: 1px solid lightskyblue;
	font-size: 12px;
	font-family: sans-serif;
}

.progressBarPanel {
	background-color: cornflowerblue;
	border: 5px solid white;
    position:relative;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.80);
}

.progressBarPopup{
	opacity: 0.4;
	filter: alpha(opacity=40);
	background-color: black; 
	border: 0px solid white;
}

.workInProgress {
	color: White;
	letter-spacing: 1px;
	text-align: center;
	background-color: firebrick;
}

.sis_textbox_readonly {
	width: 300px;
	background-color: whitesmoke;
}


/* Progress bar */

#movingBallG{
position:relative;
width:179px;
height:14px;
}

.movingBallLineG{
position:absolute;
left:0px;
top:6px;
height:3px;
width:179px;
background-color:#ABCDEB;
}

.movingBallG{
background-color:#FFFFFF;
position:absolute;
top:0;
left:0;
width:14px;
height:14px;
-moz-border-radius:7px;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:1.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:7px;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:1.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:7px;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:1.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:7px;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:1.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:7px;
animation-name:bounce_movingBallG;
animation-duration:1.9s;
animation-iteration-count:infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:165px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:165px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:165px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:165px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:165px;
}

100%{
left:0px;
}
}