/* Add css rules here for your application. */

body {
  bacground-color: blue;
}

/* stock list header row */
.pageTitle {
	-moz-border-radius: 5px;	
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	padding: 3px;
	font-size: 16px;
	font-style: gros;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: darkkhaki;
}

.sectionTitle {
	color: black;
	padding: 5px;
	font-size: 14px;
	font-style: bold;
	text-align: center;
	background-color: gainsboro;
}

.header {
	color: blue;
	padding: 10px;
	font-size: 18px;
	font-style: gros;
	font-weight: bold;
	letter-spacing: 1px;
}

.sideBar {
	margin: 2px 2px 10px;
	padding-bottom: 5px;
	border: 1px solid #D2C40B;
	background-color: #F9F9F9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

.subSection {	
	border: 1px solid InactiveBorder;
	background-color: #FFFFFF;
}

.btnFocus {
	background-color: #D2C40B;
}

.paneMain {
	margin: 2px;
	border: 1px solid #D2C40B;
	background-color: #F9F9F9;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  background-color:  #ffffff;
}

.FlexTable-Cell {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}

.FlexTable-Cell-Divider {    
  height: 5px; 
  border-width: 5px 0px 0px 0px;
  border-style: solid;
  border-color: red;
  margin-top: 5px; 
}

.FlexTable-Cell-Total {    
  height: 10px; 
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: bigger;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}

.northPane {
	position: absolute;
	top: 5px;
	left: 5px;
}

.westPane {
	position: absolute;
	top: 50px;
	left: 5px;
}

.centerPane {
	position: relative;
	width: 100%;
}

.southPane {
	position: relative;
	width: 100px;
}
.sis_textbox {
	width: 300px;
}
.hiddenText {
	color: white;
}
.left_header {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: darkkhaki;
	margin-left: -20px;
	padding: 3px 0px;
	font-size: 16px;
	font-style: gros;
	background-color: darkkhaki;	
}
.step {
	color: firebrick;
	padding: 2px;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
}
.fieldTitle {
	padding: 2px 3px 3px;
	background-color: gainsboro;
}
.sis-TextArea {
	font-size: 12px;
	font-family: Tahoma;
}
.subjectLine {
	background-color: whitesmoke;
	font-weight: bold;
}
.gradeColumn {
	background-color: ivory;
}
.bulletinHeader{
	font-weight: bold;
	background-color: palegoldenrod;
}